/*MEDIA SIZE*/

@media (min-width: 1200px){
  .container {
    width: 1098px!important;
  }
  .about-text-container {
    padding: 0 48px!important;
  }
}

@media (max-width: 767px) { /*Para monitores xs*/
	#border{
		height: calc(100% - 60px);
		border: solid 3px;
	}
	.about-mobile {
		display: inherit;
	}
	.about-large {
		display: none;
	}
	.about-header-mobile {
		position: absolute;
		top: 0px;
		right: 10%;
		z-index: 0;
		height: 400px;
		width: auto; 
	}
	.about-header-text {
  	position: absolute;
    z-index: 10;
    left: 10%;
    top: 91px;
  }
  .about-section-title {
  	height: 450px;
  	margin-top: -44px;
  }
  .our-project-section {
    min-height: 115%;
    height: auto;
  }

  .contact-section {
    height: 1100px;
	}
  .inner-contact { font-size: 15px; }
  .contact-logo {
    margin-top: 8px;
    margin-bottom: 30px;
    height: 60px;
	}
	.outer-contact {
    width: 280px;
    height: 420px;
    margin-top: 202px;
    margin-left: 10px;
	}
  .contact-title {
    font-size: 40px;
    text-align: right;
    margin-right: 10px;
  }
  .contact-box {
  	margin-bottom: 450px;
  }
  .right-side {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    height: 650px;
    margin-top: 135px;
	}
	#map {
    height: 420px;
    width: calc(100% - 20px);
    margin-left: 10px;
	}
	.contact-p {
    margin-bottom: 10px;
	}
}

@media (max-width: 991px) { /*Para monitores sm y xs*/
  .mallorca-quote {
    width: 90%;
    left: 5%;
  }
	#border{
  	border-color: transparent;
	}
	.about-mobile {
		display: inherit;
	}
	.about-large {
		display: none;
	}
	#about {
    margin: 40px 0 40px 0;
	}
  #studio {
    margin: 40px 0 40px 0;
  }
	html, body, section {overflow-x: hidden;}
	.title {font-size: 40px;}
	.about-text{padding: 0 20px;}
	.only-mobile {display: inherit;}
	.only-large {display: none;}
	.map-image {
  	width: auto;
  	height: 400px;
  }
  .navbar-collapse {
    background-color: white;
  }
  .navbar-header {height: 70px;}
}

@media (min-width: 768px) and (max-width: 991px) { /*Para monitores sm*/
	.about-header-mobile {
		position: absolute;
		top: 0px;
		right: calc(25% - 150px);
    z-index: 0;
    height: 550px!important;
		width: auto; 
	}
	.title {
    font-size: 50px;
	}
	.about-header-text {
		position: absolute;
    z-index: 10;
    left: calc(25% - 170px);
    top: 91px;
	}
	.about-section-title {
  	height: 550px;
  	margin-top: -44px;
  }

  .contact-section {
    height: 1200px;
	}
  .inner-contact { font-size: 15px; }
  .contact-logo {
    margin-top: 8px;
    margin-bottom: 30px;
    height: 60px;
	}
	.outer-contact {
    width: 40%;
    height: 505px;
    margin-top: 202px;
    margin-left: 10%;
	}
  .contact-title {
    font-size: 60px;
    text-align: right;
    margin-right: 10px;
  }
  .contact-box {
  	margin-bottom: 406px;
  }
  .right-side {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    height: 650px;
    margin-top: 235px;
	}
	#map {
    height: 420px;
    width: calc(100% - 20px);
    margin-left: 10px;
	}

}
@media (min-width: 992px) and (max-width: 1200px){ /*Para monitores md*/
	.container {
		width: 100%!important
	}
	.about-mobile {
		display: none;
	}
	.about-large {
		display: inherit;
	}
}

@media (min-width: 1600px){ /*Para monitores de resolucion muy grande*/

}

/* portrait */
@media screen and (max-width: 767px) and (orientation:portrait) { /*para celulares vertical*/
    
}
/* landscape */
@media screen and (max-width: 767px) and (orientation:landscape) {  /*para celulares horizontal*/

}

@media screen and (max-width: 991px) and (orientation:landscape){

}