/*FONTS*/
@font-face {
 font-family: 'arroba';
 src: url('../fonts/OpenSans-Bold.ttf') format('opentype');
}
@font-face {
 font-family: 'ciudad';
 src: url('../fonts/Raleway-Bold.ttf') format('opentype');
}
@font-face {
 font-family: 'enter';
 src: url('../fonts/FiraSansCondensed-Regular.ttf') format('opentype');
}
@font-face {
 font-family: 'firaThin';
 src: url('../fonts/FiraSansCondensed-Thin.ttf') format('opentype');
}
@font-face {
 font-family: 'titulos';
 src: url('../fonts/OldStandard-Regular.ttf') format('opentype');
}
@font-face {
 font-family: 'quotes';
 src: url('../fonts/OldStandard-Italic.ttf') format('opentype');
}
@font-face {
 font-family: 'comillas';
 src: url('../fonts/PlayfairDisplay-Regular.ttf') format('opentype');
}

/*GENERAL*/

html, body, section {
  min-height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
section{
  position: relative;

}
.relative {
  position: relative;
}
.hidden {
  display: none;
}

.only-mobile {
  display: none;
}

.only-large {
  display: inherit;
}
.no-padding {
  padding: 0px!important;
}

/*NAVBAR*/
.navbar {
  position: relative;
  height: 100px;
  border-top: solid 0px transparent!important;
  border-right: solid 0px transparent!important;
  border-left: solid 0px transparent!important;
  border-bottom: solid 1.5px black!important;
  background: white!important;
  font-family: 'tituulos';
  color: black;
  letter-spacing: 3px;
  font-size: 12px;
  font-weight: 500;
}
.container-fluid {
  margin-top: 30px;
}
.navbar-brand {
  position: absolute;
  left: calc(50% - 50.5px);
  width: 133px;
  top: 17px!important;
  text-align: center;
  padding: 0px!important;
  float: none;
}
@media (min-width: 768px) {
  .navbar-left {
    width: calc(50% - 25px);
  }
  .navbar-right {
    width: calc(50% - 25px);
  }
  .links-nav-right {
    width: 310px;
  }
  .links-nav-left {
    width: 310px;
    float: right!important;
  }
  .instagram {
    width: 50px;
    position: absolute;
    right: 21px;
    bottom: 10px;
  }
}


@media (min-width: 1045px) and (max-width: 1340px) {
  .links-nav-right {
    width: 200px;
  }
  .links-nav-left {
    width: 200px;
    float: right!important;
  }

}
@media (min-width: 768px) and (max-width: 1045px) {
  .links-nav-right {
    width: 100px;
  }
  .links-nav-left {
    width: 100px;
  }
}
/*COVER*/

#home{
  background-image: url('../images/cover.png');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: white;
  height: 100%;
  min-height: 600px;
  position: relative;
  overflow: hidden;
}

#border{
  height: calc(100% - 40px);
  width: calc(100% - 40px);
  margin: auto;
  margin-top: 20px;
  border: solid 2px;
  border-color: transparent;
  text-align: center;
}

.enter-button {
  position: absolute;
  bottom: 0;
  margin-bottom: 80px;
  border: solid 0px transparent;
  background: transparent;
  color: transparent;
  font-size: 26px;
  width: 100px;
  align-self: center;
  right: calc(50% - 50px);
  font-family: 'enter';
  letter-spacing: 2px;
}
/*WHO*/
#who {
  background-color: #f9f9f9;
  height: 115%!important;
  padding-top: 30px;
  padding-bottom: 30px;
}

/*ABOUT*/
#about {
  margin: -100px 0 40px 0;
}
.about-text-container {
  padding: 20px 30px;
  margin-top: 58px;
}
.about-text {
  font-family: 'titulos';
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 2.5px;
  text-align: justify;
  margin-bottom: 20px;
}
.about-mobile {
  display: none;
}
.about-large {
  display: inherit;
}

/*PROJECT*/
.our-project-section {
  background-color: #f9f9f9;
  height: 115%;
  padding-top: 30px;
  padding-bottom: 130px;
}

.project-explanation {
  font-family: 'firaThin';
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 2px;
}

.map-image {
  width: 100%;
}

/*CONTACT*/
.contact-section {
  height: 115%;
  margin-top: -100px;
  background-color: transparent;
}
#map {
  height: 420px;
  width: 520px;
}

.outer-contact {
  width: 480px;
  height: 725px;
  margin-left: calc(40% - 430px);
  text-align: center;
  position: absolute;
  background-image: url('../images/WindermereIsland.jpg');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: white;
}
.inner-contact {
  position: relative;
  background-color: rgba(255, 255, 255, 0.75);
  margin-top: 40px;
  margin-left: 40px;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
  font-family: 'firaThin';
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
.right-side {
  width: 50%;
  position: absolute;
  top: 0;
  right: 0;
  height: 650px;
  margin-top: 150px;
}
.contact-logo {
  margin-top: 73px;
  margin-bottom: 30px;
  height: 82px;
}
.contact-p {
  margin-bottom: 30px;
}
.contact-title {
  font-size: 60px;
  margin-top: 3px;
  margin-bottom: 20px;
  font-family: 'titulos';
  letter-spacing: 4px;
}

/*NAVBAR*/

.navbar-toggle {
  float: left!important;
  margin-left: 15px!important;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-center {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
  height: 100%;
}


/*REPETITIVE*/
.line {
  width: 81px;
  line-height: 3.3em;
  font-size: 0.3125em;
  display: block;
  letter-spacing: 0.2em;
  border-top: 1px solid #000;
  vertical-align: top;
}

.title {
  font-size: 60px;
  margin-top: 3px;
  margin-bottom: 20px;
  font-family: 'titulos';
  letter-spacing: 4px;
}

.top-text {
  margin: 0px;
  font-family: 'firaThin';
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

/*STUDIO*/
#studio {
  margin: 0px 0 0px 0;
  padding-bottom: 40px;
  background-color: #f9f9f9;
}

#studio-mobile {
  background-color: #f9f9f9;
  margin-top: 0px;
}
.studio-mobile {
  background-color: #f9f9f9;
}
.studio-img {
  position: absolute;
  top: -100px;
}

/*PEOPLE*/
#people {
  height: 2050px;
  background-color: #f9f9f9;
}
.name {
  font-size: 42px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'titulos';
  letter-spacing: 4px;
}
.profession {
  margin: 0px;
  font-family: 'firaThin';
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.profession-margin {
  margin-left: 63px;
}
.patricio-text {
  top: 129px;
  z-index: 4;
  position: absolute;
  left: calc(50% - 329px);
}
.patricio-photo {
  position: absolute;
  top: 0;
  right: calc(50% - 350px);
}
.natalia-text {
  position: absolute;
  top: 609px;
  right: calc(50% - 375px);
}
.natalia-photo {
  position: absolute;
  top: 495px;
  left: calc(50% - 405px);
}
.mariana-text {
  position: absolute;
  top: 1045px;
  text-align: right;
  z-index: 5;
  left: calc(50% - 465px);
}
.mariana-photo {
  position: absolute;
  top: 942px;
  right: calc(50% - 482px);
}
.sofia-text {
  position: absolute;
  top: 1527px;
  right: calc(50% - 395px);
}
.sofia-photo {
  position: absolute;
  top: 1351px;
  left: calc(50% - 301px);
}
/*WORK*/
.work-sections {
  height: 1000px;
  background-color: white;
}
.work-title-container {
  z-index: 5;
}
.work-title {
  font-size: 55px;
  margin-top: 3px;
  margin-bottom: 0px;
  font-family: 'titulos';
  letter-spacing: 4px;
  z-index: 3;
}
.date {
  margin: 0px;
  font-family: 'firaThin';
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.location {
  margin: 0px;
  font-family: 'firaThin';
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.quote-title {
  font-family: 'quotes';
  font-size: 13.5px;
  line-height: 28px;
  letter-spacing: 2px;
  text-align: justify;
  margin-bottom: 20px;
  text-align: center;
  z-index: 3;
}
.work-sections {
  margin-top: 30px;
  margin-bottom: 30px;
}
.comillas {
  font-family: 'comillas';
  font-size: 40px;
  line-height: 28px;
  letter-spacing: 2px;
  text-align: justify;
  margin-bottom: 20px;
  position: absolute;
}
.work-img {
  max-width: 50%;
}

/*MALLORCA*/
#mallorca {
  margin-top: 201px;
  height: 1000px;
}
.mallorca-work-title {
  position: absolute;
  top: 0;
  left: 20%;
}
.mallorca-name {
  margin-left: 25px;
}
.mallorca-quote {
  position: absolute;
  top: 771px;
  width: 46%;
  right: 40px;
}
.mallorca-img-1 {
  width: 45%;
  position: absolute;
  top: 361px;
  left: 0;
}
.mallorca-img-2 {
  width: 46%;
  position: absolute;
  top: 1px;
  right: 40px;
}

/*CAESAREA*/
#caesaria {
  height: 1050px;
}

.caesarea-quote {
  position: absolute;
  top: 857px;
  left: 0;
  width: 44%;
  margin-left: 3%;
}

.caesarea-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  overflow: hidden;
}
.caesarea-item img {
  width: 100%;
  -moz-transition: all 3s;
  -webkit-transition: all 3s;
  transition: all 3s;
}
.caesarea-item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}
.caesarea-img-2 {
  position: absolute;
  right: 0;
  width: 45%;
  top: 330px;
}
.caesarea-work-title {
  position: absolute;
  top: 20px;
  right: 0;
  width: 45%;
}

.caesarea-margin {
  margin-left: 50px;
}

/*ASPEN 1*/
.aspen1-margin {
  margin-left: 40px;
}
.aspen1-work-title {
  position: absolute;
  top: 50px;
  left: 17%;
}
.aspen1-img-1 {
  position: absolute;
  left: 0;
  width: 45%;
  top: 328px;
}
.aspen1-img-2 {
  top: 0;
  right: 0;
  position: absolute;
  width: 50%;
}
.aspen1-quote {
  position: absolute;
  top: 739px;
  width: 50%;
  right: 0;
}

/*ASPEN CONDO*/
.aspen-condo-title {
  position: absolute;
  top: 50px;
  right: 0;
  width: 45%;
}
.aspen-condo-img-1 {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
}
.aspen-condo-img-2 {
  position: absolute;
  right: 0;
  width: 45%;
  top: 295px;
}

/*BEBERLY HILLS*/
.bhills-work-title {
  position: absolute;
  top: 33px;
  left: 15%;
}
.bhills-img-1 {
  position: absolute;
  left: 0;
  width: 45%;
  top: 328px;
}
.bhills-img-2 {
  top: 0;
  right: 0;
  position: absolute;
  width: 50%;
}

/*ASPEN 2*/
.aspen2-title {
  position: absolute;
  top: 88px;
  right: 7%;
}
.aspen2-img-1 {
  position: absolute;
  width: 50%;
  top: 0;
  left: 0;
}
.aspen2-img-2 {
  position: absolute;
  right: 0;
  width: 45%;
  top: 395px;
}
.aspen2-quote {
  position: absolute;
  top: 739px;
  width: 50%;
  left: 0;
}
.aspen2-margin {
  margin-left: 150px;
}

/*BS. AS. 1*/
.bsas-img-1 {
  position: absolute;
  left: 0;
  width: 40%;
  top: 382px;
}
.bsas-img-2 {
  top: 0;
  right: 0;
  position: absolute;
  width: 55%;
}
.bsas-title {
  position: absolute;
  top: 148px;
  left: 101px;
}
.bsas-margin {
  margin-left: 72px;
}

/*BEL AIR*/
#belAir {
  height: 1100px;
}
.belair-item {
  position: absolute;
  right: 0;
  width: 45%;
  top: 350px;
  overflow: hidden;
}
.belair-item img {
  width: 100%;
  -moz-transition: all 3s;
  -webkit-transition: all 3s;
  transition: all 3s;
}
.belair-item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);

}
.belair-img-1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
}
.belair-work-title {
  position: absolute;
  top: 100px;
  right: 0;
  width: 45%;
}